@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700&display=swap');
@import 'global/style';

html, * {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-rendering: optimizeLegibility !important;
    box-sizing: border-box !important;

    margin: 0px;
    padding: 0px;
}

body {

    header {
        height: 100vh;
        position: relative;

        .bg-blue {
            background: color(primary);
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100vh;
    
            .bg-dark {
                width: 100%;
                height: 100vh;
                background: color(dark);
                clip-path: polygon(0 0, 60% 0, 50% 100%, 0% 100%);
                @include respond-to(big-tablet) {
                    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
                }
             }
        }

        nav {
            position: fixed;
            width: 100%;
            overflow: hidden;
            z-index: 99;
            padding: 2em 0;
            transition: all $transitionDelay ease-in;

            .menu-icon {
                cursor: pointer;
                display: none;
                @include respond-to(tablet) {
                    display: block;
                    float: right;
                }
    
                span {
                    color: color(white);

                    i {
                        font-size: 150%;
                    }
                }

            }

            .nav-links {
                float: right;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                list-style: none;

                li {
                    margin: 0 .5em;
                    padding: .4em;

                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: color(white);
                        font-weight: 400;
                        letter-spacing: 2px;
                        font-size: 80%;
                        opacity: 1;
                        transition: opacity $transitionDelay;

                        &:hover {
                            opacity: 0.5;
                        }
                    }  
                }

                @include respond-to(tablet) {
                    display: none;
                    width: 100%;
                    flex-direction: column;
        
                    li {
                        width: 100%;
                        margin: 0;
                        padding: 0;
    
                        a {
                            padding: 1em .5em;
                            display: block;
                            width: 100%;
                            text-align: justify;
                        }
                    } 
                } 
            }
        }

        nav.scroll{
            background: rgbaColor(dark, 0.9);
            padding: .5em 0;
        }

        .content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            @include respond-to(big-tablet) {
                justify-content: center;
            }

            .dev-info {
                .title {
                    font-size: 300%;
                    color: color(white);
                    font-weight: 100;
                    @include respond-to(desktop) {
                        font-size: 400%;
                    }
                    @include respond-to(small-tablet) {
                        font-size: 250%;
                    }
                    @include respond-to(phone) {
                        font-size: 200%;
                    }
                    @include respond-to(small-phone) {
                        font-size: 150%;
                    }

                    .name {
                        font-size: 100%;
                        font-weight: 300;
                    }
                }
     
                .btn {
                    display: inline-block;
                    min-width: 200px;
                    padding: .7em 1.5em;
                    margin: 1em 1em 1em 0;
                    background: color(secondary);
                    transition: border-radius $transitionDelay;
                    color: color(white);
                    text-decoration: none;

                    @include respond-to(small-tablet) {
                        display: none;
                    }

                    &:hover span {
                        opacity: 1;
                    }

                    &:hover p {
                        margin-right: 10px;
                    }

                    &:hover {
                        border-radius: 10px;
                    }

                    span {
                        opacity: 0;
                        display: inline-block;
                        transition: opacity $transitionDelay;
                    }

                    p {
                        font-size: 120% !important;
                        font-weight: 300;
                        display: inline-block;
                        margin-right: -20px;
                        transition: margin-right $transitionDelay;
                    }
                }

                .btn-border {
                    border-color: color(secondary);
                    color: color(secondary);
                }
            }
        }

        .socials {
            position: absolute;
            right: 2em;
            top: 50%;
            z-index: 20;
            transform: translateY(-50%);
            @include respond-to(big-tablet) {
                top: unset;
                right: 0;
                bottom: 0;
                transform: none;
            }

            ul {
                list-style-type: none;
                @include respond-to(big-tablet) {
                    display: flex;
                    flex-flow: row nowrap;
                    align-self: center;
                }

                li {
                    margin: 1em 0;
                    transform: scale(1);
                    transition:  transform $transitionDelay;
                    @include respond-to(big-tablet) {
                        margin-right: 2em;
                    }
                    @include respond-to(small-phone) {
                        margin-right: 1.5em;
                    }

                    &:hover {
                        transform: scale(1.5);
                    }

                    a {
                        .github {
                            color: color(white);
                            transition: color $transitionDelay;
                            
                            &:hover {
                                color: color(dark);
                            }
                        }
                        
                        .linkedin {
                            color: color(white);
                            transition: color $transitionDelay;
                            &:hover {
                                color: color(linkedin);
                            }
                        }
                    
                        .stack-overflow {
                            color: color(white);
                            transition: color $transitionDelay;
                            &:hover {
                                color: color(stackOverflow);
                            }
                        }

                        i {
                            font-size: 200%;
                            @include respond-to(small-phone) {
                                font-size: 150%;
                            }
                        }
                    }
                }
            }
        }
    }

    #summary {
        padding-bottom: 0 !important;
        .summary {
            align-items: center;
            width: fit-content;
            padding: 2em;
            background: color(white);
            border-radius: $softBorderRadius;
            box-shadow: 0px 0px 2px 1px color(gray);
            overflow: visible;
            margin: 1em auto;
            @include respond-to(tablet){
                flex-wrap: wrap;
                padding: 1em;
            }

            .avatar {
                border-radius: 50%;
                height: 120px;
                width: 120px;
                display: inline-block;
                box-shadow: 0px 0px 20px 5px color(lightGray);
            }

            p {
                font-weight: 300;
                font-style: italic;
                color: color(darkgray);
                font-size: 90%;
                line-height: 1.5;
                letter-spacing: 1px;
                margin-left: 3em;
                display: inline-block;
                max-width: 1024px;
                text-align: justify;
                @include respond-to(tablet){
                    margin-left: 0;
                    margin-top: 3em;
                    text-align: center;
                }
                @include respond-to(phone){
                    font-size: 80%;
                }

                a {
                    text-decoration: none;
                    color: color(primary);
                }
            }
        }
    }

    #skills {
        h3 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 150%;
            text-align: center;
            margin-bottom: 2em;
        }

        .top-skills {
            .progress-90 {
                @include draw-progress(90, color(primary));
            }
            .progress-75 {
                @include draw-progress(75, color(primary));
            }
            .progress-80 {
                @include draw-progress(80, color(primary));
            }
            .progress-60 {
                @include draw-progress(60, color(primary));
            }

            .label {
                color: color(dark);
                text-transform: capitalize;
                font-weight: bold;
                font-size: $pieFontSize / 2;
                display: block;
                text-align: center;
            }
        }

        .other-skills {
            margin-top: 5em;

            .content {
                width: 100%;
                justify-content: space-around;
                .skills-container {
                    min-width: $progress-bar-min-width;
                    max-width: $progress-bar-max-width;
                    flex-grow: 1;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 1em;

                    @include respond-to(phone){
                        min-width: 100%;
                    }
        
                    .item {
                        margin: .7em 0;
                        width: 100%;
                        @include respond-to(phone){
                           flex-wrap: wrap;
                        }
                    }
        
                    .label {
                        font-weight: normal;
                        text-transform: capitalize;
                        color: color(dark);
                        margin-right: .5em;
                        min-width: 100px;
                        text-align: left;
                        overflow: hidden;

                        @include respond-to(phone){
                            margin-right: 0;
                            margin-bottom: .5em;
                         }
                    }

                    .progress-bar {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        @include respond-to(phone){
                            height: 20px;
                         }
                    }
                }
            }

            .progress-100 {
                width: 100%;
            }
            .progress-80 {
                width: 80%;
            }
            .progress-90 {
                width: 90%;
            }
            .progress-70 {
                width: 70%;
            }
            .progress-60 {
                width: 60%;
            }
            .progress-50 {
                width: 50%;
            }
            .progress-40 {
                width: 40%;
            }
            .progress-30 {
                width: 30%;
            }
            .progress-20 {
                width: 20%;
            }

        }
    }

    #overview {
        background: linear-gradient(to right,rgbaColor(primary, .6), color(primary));
        border-top-left-radius: $strong-border-radius;
        padding: 0 !important;
        transform: skewY(-$skewDeg);

        &::before {
            content: '';
            width: $angleSize;
            height: $angleSize;
            background: color(primary);
            position: absolute;
            top: -$angleSize + 1;
            right: 0;
            z-index: -2;
        }

        &::after {
            content: '';
            width: $angleSize * 2;
            height: $angleSize * 2;
            background: color(white);
            position: absolute;
            right: 0;
            top: -$angleSize * 2;
            border-radius: 50%;
            z-index: -1;
        }

        .container {
            padding: 5em 0;
            transform: skewY($skewDeg);
        }

        .content {
            @include respond-to(big-tablet) {
                flex-wrap: wrap;
            };
            .card {
                margin: 2em;
                padding: 1em;

                img {
                   @include size(auto, 150px);
                   @include respond-to(big-tablet) {
                        @include size(auto, 200px);
                    };
                    @include respond-to(phone) {
                        @include size(auto, 100px);
                    };
                }

                p {
                    text-align: center;
                    color: color(white);
                    font-weight: 300;
                    margin-top: 2em;
                }
            }
        }
    }

    #projects {
        position: relative;
        margin-top: -2%;
        background: color(white);

        a {
            margin: 2em 1em;
            @include respond-to(small-tablet) {
                @include size(100%, auto);
            }

            .project {
                @include size($project-size, $project-size);
                border: 1px solid color(gray);
                border-radius: $softBorderRadius;
                overflow: hidden;
                position: relative;
                transform: scale(1);
                box-shadow: none;
                transition: transition(transform), transition(box-shadow);
                @include respond-to(tablet) {
                    @include size($project-size - 100, $project-size - 100);
                }
                @include respond-to(small-tablet) {
                    @include size(100%, auto);
                }

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0px 10px 10px 1px color(gray);
    
                    .overlay {
                        display: flex !important;
                        height: 100%;
                        visibility: visible;

                        p {
                            opacity: 1;
                        }
                    }
                }

                .overlay {
                    display: flex !important;
                    visibility: hidden;
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    background: rgbaColor(primary, .5);
                    height: 0%;
                    @include transition(height);
    
                    p {
                        font-size: 120%;
                        color: color(white);
                        text-align: center;
                        padding: 1em;
                        opacity: 0;
                        @include transition(opacity);

                        @include respond-to(small-tablet) {
                            font-size: 200%;
                        }
                    }
                }
    
                img {
                    width: 100%;
                }
    
            }
        }

    }

    #footer { 
        width: 100%;
        padding: 0 !important;

        footer {
            padding: 5em 24px !important;
            width: 50%;
            background: color(dark);
            color: color(gray);
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            align-items: center; 
            @include respond-to(tablet) {
                width: 100%;
                order: 1;
                flex-flow: row nowrap;

                ul {
                    margin: 0 !important;
                }
            }
            @include respond-to(phone) {
                flex-flow: column nowrap
            }

           h2 {
               text-transform: uppercase;
               font-size: 200%;
               text-align: center;
               font-weight: bold;

               @include respond-to(tablet) {
                display: none;
                }
           }

           @include create-list(col) {
               justify-content: center;
               align-items: flex-start;
               margin: auto;
               margin: 5em 0;
               padding: 1em;

               li {
                   display: flex;
                   flex-flow: row nowrap;
                   align-items: center;
                   justify-content: center;
                   margin: .3em 0;

                   i {
                       min-width: 30px;
                       text-align: center;
                       margin-right: .5em;
                   }
               }
           }

           p {
            font-size: 70%;
            font-weight: 300;
            letter-spacing: 1px;
            }

            .copy-rights {
                @include respond-to(phone){
                    margin-top: 5em;
                }
            }
        }

        #contact {
            padding: 5em 24px !important;
            background: color(lightGray);
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include respond-to(tablet) {
                width: 100%;
                order: 0;
            }

            h1 {
                color: color(dark);
                display: none;

                @include respond-to(tablet) {
                    display: block;
                }
            }
            
            form {
                display: flex;
                flex-direction: column;
                max-width: 500px;
                width: 70%;

                @include respond-to(small-tablet) {
                    width: 90%;
                }

                input, textarea {
                    width: 100%;
                    margin: 1em 0;
                }

                .error {
                    &::placeholder {
                        color: color(secondary);
                    }
                }
            
                .send {
                    margin-top: 1em;
                    background: color(secondary);
                    color: color(white);
                    border-radius: 10px;
                    padding: 1em 0;
                    text-transform: uppercase;
                    font-size: 90%;
                    letter-spacing: 1.1px;
                    transition: all $transitionDelay;
                }

                .send.success {background-color: color(success);text-transform: none;}
                .send.error {background-color: color(secondary);text-transform: none;}
                .send.warning {background-color: color(warning);text-transform: none;}
            }
        }
    }
}