@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700&display=swap");
.i {
  border: 1px solid cyan !important;
}

.i-2 {
  border: 1px solid #000000 !important;
}

.i-3 {
  border: 1px solid #B42B42 !important;
}

.b {
  background: #c7147c !important;
}

.b-2 {
  background: #2867B2 !important;
}

.b-3 {
  background: #C8C8C8 !important;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0 24px;
  overflow: hidden;
}

section, footer {
  padding: 8em 0 !important;
}

.text-light {
  font-weight: 100 !important;
}

.text-bold {
  font-weight: 500 !important;
}

.text-up {
  text-transform: uppercase !important;
}

.text-cap {
  text-transform: capitalize !important;
}

h1 {
  font-size: 200%;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 2em;
}

h1::before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  background: #B42B42;
  margin: auto;
  border-radius: 40px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btn-border {
  background: transparent !important;
  border: 1px solid !important;
}

/* Ripple effect */
.ripple {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  background: #2196f3 radial-gradient(circle, transparent 1%, #2196f3 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

/* Button style */
.button-ripple {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 0 0 4px #707070;
          box-shadow: 0 0 4px #707070;
  outline: none;
}

input, textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid #707070;
  height: 50px;
  outline: none;
}

textarea {
  resize: none;
  overflow: hidden;
  height: auto;
}

.pie-wrapper {
  height: 8em;
  width: 8em;
  margin: 15px;
  position: relative;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 8em, 8em, 4em);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.8em solid #19B2F6;
  border-radius: 50%;
  clip: rect(0, 4em, 8em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .pie-label {
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  text-align: center;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-wrapper .pie-label .value {
  font-size: 2em;
  font-weight: 300;
  color: #333;
  text-align: center;
}

.pie-wrapper .pie-label .smaller {
  color: #333;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper .shadow {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0.8em solid #C8C8C8;
  border-radius: 50%;
}

.progress-bar {
  background: #C8C8C8;
  border-radius: 40px;
  position: relative;
}

.progress-bar .value {
  position: absolute;
  right: 5px;
  font-weight: 300;
  color: #333;
}

.progress {
  border-radius: 40px;
  width: 85%;
  background: #19B2F6;
  height: 100%;
  position: absolute;
}

.round {
  border-radius: 40px;
}

.f-row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.f-col {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.space-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.f-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.f-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.center {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

html, * {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-rendering: optimizeLegibility !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  margin: 0px;
  padding: 0px;
}

body header {
  height: 100vh;
  position: relative;
  background: #fff;
}

body header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  padding: 2em 0;
  background: #fff;
  -webkit-transition: background 0.5s, padding 0.5s ease-in;
  transition: background 0.5s, padding 0.5s ease-in;
}

body header nav .menu-icon {
  float: right;
  cursor: pointer;
  display: none;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

body header nav .menu-icon:hover {
  opacity: .5;
}

@media only screen and (max-width: 847px) {
  body header nav .menu-icon {
    display: block;
  }
}

body header nav .menu-icon i {
  color: #333;
  font-size: 150%;
}

body header nav .nav-links {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media only screen and (max-width: 847px) {
  body header nav .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-top: 1em;
    display: none;
  }
  body header nav .nav-links li {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  body header nav .nav-links li a {
    padding: 1em .5em;
    display: block;
    width: 100%;
    text-align: justify;
  }
}

body header nav .nav-links li {
  padding: .2em .7em;
}

body header nav .nav-links li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 90%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

body header nav .nav-links li a:hover {
  opacity: .5;
}

body header nav .socials {
  float: left;
}

body header nav .socials ul {
  z-index: 999;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-item-align: center;
      align-self: center;
}

body header nav .socials ul li {
  margin: 0 .8em;
}

@media only screen and (max-width: 350px) {
  body header nav .socials ul li {
    margin: 0 .5em;
  }
}

body header nav .socials ul li a {
  color: #333;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

body header nav .socials ul li a:hover {
  opacity: .5;
}

body header nav .socials ul li a.github {
  color: #333;
}

body header nav .socials ul li a.linkedin {
  color: #2867B2;
}

body header nav .socials ul li a.stack-overflow {
  color: #f48024;
}

body header nav .socials ul li a i {
  font-size: 150%;
}

body header nav.scroll {
  background: #333333;
  padding: .8em 0;
}

body header nav.scroll .nav-links a {
  color: #fff;
}

@media only screen and (max-width: 847px) {
  body header nav.scroll .menu-icon i {
    color: #fff;
  }
}

body header nav.scroll .socials li .github {
  color: #fff;
}

body header nav.scroll .socials li .linkedin {
  color: #fff;
}

body header nav.scroll .socials li .stack-overflow {
  color: #fff;
}

body header .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 847px) {
  body header .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body header .content .dev-info .title {
  font-size: 6vw;
  color: #333;
  font-weight: 100;
}

@media only screen and (max-width: 847px) {
  body header .content .dev-info .title {
    font-size: 9vw;
  }
}

@media only screen and (min-width: 1300px) {
  body header .content .dev-info .title {
    font-size: 400%;
  }
}

body header .content .dev-info .title .name {
  font-size: 110%;
  font-weight: 100;
}

body header .content .dev-info .button-ripple {
  text-decoration: none;
  width: 40%;
  max-width: 200px;
  min-width: 50px;
  height: 70px;
  margin: 1em 2em 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 500px) {
  body header .content .dev-info .button-ripple {
    width: 50%;
    height: 50px;
  }
}

body header .content .dev-info .btn-border {
  border-color: #19B2F6;
  color: #19B2F6;
}

body header .content .developer {
  max-width: 40%;
}

@media only screen and (max-width: 847px) {
  body header .content .developer {
    display: none;
  }
}

body header .content .developer img {
  width: 100%;
  height: auto;
}

body header .content .scroll-button {
  position: absolute;
  bottom: 3em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: jump 1s infinite alternate;
          animation: jump 1s infinite alternate;
}

@-webkit-keyframes jump {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes jump {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

body header .content .scroll-button img {
  height: 60px;
  width: auto;
}

body #summary {
  background: #E9E8E8;
}

body #summary .summary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2em;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 2px 1px #C8C8C8;
          box-shadow: 0px 0px 2px 1px #C8C8C8;
  overflow: visible;
  margin: 1em auto;
}

@media only screen and (max-width: 847px) {
  body #summary .summary {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1em;
  }
}

body #summary .summary .avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 20px 5px #E9E8E8;
          box-shadow: 0px 0px 20px 5px #E9E8E8;
}

body #summary .summary p {
  font-weight: 300;
  font-style: italic;
  color: #707070;
  font-size: 90%;
  line-height: 1.5;
  letter-spacing: 1px;
  display: inline-block;
  max-width: 1024px;
  text-align: left;
}

body #summary .summary p a {
  text-decoration: none;
  color: #19B2F6;
  font-style: normal;
  font-weight: 300;
}

body #summary .summary p a:hover {
  text-decoration: underline;
}

body #skills h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 150%;
  text-align: center;
  margin-bottom: 2em;
}

body #skills .top-skills .progress-100 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-100 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-100 .pie .left-side {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

body #skills .top-skills .progress-100 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-90 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}

body #skills .top-skills .progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-75 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-75 .pie .left-side {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

body #skills .top-skills .progress-75 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .progress-85 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-85 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-85 .pie .left-side {
  -webkit-transform: rotate(306deg);
          transform: rotate(306deg);
}

body #skills .top-skills .progress-85 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .progress-80 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-80 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-80 .pie .left-side {
  -webkit-transform: rotate(288deg);
          transform: rotate(288deg);
}

body #skills .top-skills .progress-80 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-60 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

body #skills .top-skills .progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .label {
  color: #333;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1em;
  display: block;
  text-align: center;
}

body #skills .other-skills {
  margin-top: 5em;
}

body #skills .other-skills .content {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #skills .other-skills .content .skills-container {
  min-width: 400px;
  max-width: 700px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
}

@media only screen and (max-width: 500px) {
  body #skills .other-skills .content .skills-container {
    min-width: 100%;
  }
}

body #skills .other-skills .content .skills-container .item {
  margin: .7em 0;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  body #skills .other-skills .content .skills-container .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body #skills .other-skills .content .skills-container .label {
  font-weight: normal;
  text-transform: capitalize;
  color: #333;
  margin-right: .5em;
  min-width: 100px;
  text-align: left;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  body #skills .other-skills .content .skills-container .label {
    margin-right: 0;
    margin-bottom: .5em;
  }
}

body #skills .other-skills .content .skills-container .progress-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  body #skills .other-skills .content .skills-container .progress-bar {
    height: 20px;
  }
}

body #skills .other-skills .progress-100 {
  width: 100%;
}

body #skills .other-skills .progress-80 {
  width: 80%;
}

body #skills .other-skills .progress-90 {
  width: 90%;
}

body #skills .other-skills .progress-70 {
  width: 70%;
}

body #skills .other-skills .progress-60 {
  width: 60%;
}

body #skills .other-skills .progress-50 {
  width: 50%;
}

body #skills .other-skills .progress-40 {
  width: 40%;
}

body #skills .other-skills .progress-30 {
  width: 30%;
}

body #skills .other-skills .progress-20 {
  width: 20%;
}

body #overview {
  background: -webkit-gradient(linear, left top, right top, from(rgba(25, 178, 246, 0.6)), to(#19B2F6));
  background: linear-gradient(to right, rgba(25, 178, 246, 0.6), #19B2F6);
  border-top-left-radius: 40px;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

body #overview::before {
  content: '';
  width: 60px;
  height: 60px;
  background: #19B2F6;
  position: absolute;
  top: -59px;
  right: 0;
  z-index: -2;
}

body #overview::after {
  content: '';
  width: 120px;
  height: 120px;
  background: #fff;
  position: absolute;
  right: 0;
  top: -120px;
  border-radius: 50%;
  z-index: -1;
}

body #overview .container {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

@media only screen and (max-width: 1146px) {
  body #overview .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body #overview .content .card {
  margin: 2em;
  padding: 1em;
}

body #overview .content .card img {
  height: 150px;
  width: auto;
}

@media only screen and (max-width: 1146px) {
  body #overview .content .card img {
    height: 200px;
    width: auto;
  }
}

@media only screen and (max-width: 500px) {
  body #overview .content .card img {
    height: 100px;
    width: auto;
  }
}

body #overview .content .card p {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin-top: 2em;
}

body #projects {
  position: relative;
  margin-top: -2%;
  background: #fff;
}

body #projects a {
  margin: 2em 1em;
}

@media only screen and (max-width: 600px) {
  body #projects a {
    height: auto;
    width: 100%;
  }
}

body #projects a .project {
  height: 250px;
  width: 250px;
  border: 1px solid #C8C8C8;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

@media only screen and (max-width: 847px) {
  body #projects a .project {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 600px) {
  body #projects a .project {
    height: auto;
    width: 100%;
  }
}

body #projects a .project:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 10px 10px 1px #C8C8C8;
          box-shadow: 0px 10px 10px 1px #C8C8C8;
}

body #projects a .project:hover .overlay {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100%;
  visibility: visible;
}

body #projects a .project:hover .overlay p {
  opacity: 1;
}

body #projects a .project .overlay {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: rgba(25, 178, 246, 0.5);
  height: 0%;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

body #projects a .project .overlay p {
  font-size: 120%;
  color: #fff;
  text-align: center;
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  body #projects a .project .overlay p {
    font-size: 200%;
  }
}

body #projects a .project img {
  width: 100%;
}

body #footer {
  width: 100%;
  padding: 0 !important;
}

body #footer .content footer {
  height: 100%;
  padding-right: 24px !important;
  padding-left: 24px !important;
  width: 50%;
  background: #333;
  color: #C8C8C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1146px) {
  body #footer .content footer {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  body #footer .content footer ul {
    margin-top: 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  body #footer .content footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

body #footer .content footer h2 {
  text-transform: uppercase;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
}

@media only screen and (max-width: 1146px) {
  body #footer .content footer h2 {
    display: none;
  }
}

body #footer .content footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  margin: 5em 0;
  padding: 1em;
}

body #footer .content footer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .3em 0;
}

body #footer .content footer ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 70%;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-style: normal;
}

body #footer .content footer ul li a:hover {
  color: #19B2F6;
}

body #footer .content footer ul li i {
  min-width: 30px;
  text-align: center;
  margin-right: .5em;
}

body #footer .content footer p {
  font-size: 70%;
  font-weight: 300;
  letter-spacing: 1px;
}

@media only screen and (max-width: 500px) {
  body #footer .content footer .copy-rights {
    margin-top: 5em;
  }
}

body #footer .content #contact {
  padding-right: 24px !important;
  padding-left: 24px !important;
  background: #E9E8E8;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1146px) {
  body #footer .content #contact {
    width: 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

body #footer .content #contact h1 {
  color: #333;
  display: none;
}

@media only screen and (max-width: 1146px) {
  body #footer .content #contact h1 {
    display: block;
  }
}

body #footer .content #contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  body #footer .content #contact form {
    width: 90%;
  }
}

body #footer .content #contact form input, body #footer .content #contact form textarea {
  width: 100%;
  margin: 1em 0;
}

body #footer .content #contact form .error::-webkit-input-placeholder {
  color: #B42B42;
}

body #footer .content #contact form .error:-ms-input-placeholder {
  color: #B42B42;
}

body #footer .content #contact form .error::-ms-input-placeholder {
  color: #B42B42;
}

body #footer .content #contact form .error::placeholder {
  color: #B42B42;
}

body #footer .content #contact form .send {
  margin-top: 1em;
  background: #B42B42;
  font-size: 90%;
  padding: 1em 0;
  letter-spacing: 1.1px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

body #footer .content #contact form .send.success {
  background: #4CAF50;
  text-transform: none;
}

body #footer .content #contact form .send.error {
  background: #B42B42;
  text-transform: none;
}

body #footer .content #contact form .send.warning {
  background: #ff9800;
  text-transform: none;
}
/*# sourceMappingURL=main.css.map */