@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700&display=swap');
@import 'global/style';

html,
* {
    scroll-behavior: smooth;
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2;
    text-rendering: optimizeLegibility !important;
}

body {
    header {
        height: 100vh;
        position: relative;
        background: url('../assets/bg.png') no-repeat right;
        background-size: contain;

        @include respond-to(tablet) {
            background: color(white);
            height: auto;
        }

        .content-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include respond-to(tablet) {
                margin-top: 5em;
                justify-content: center;
            }

            .header-content {
                .header-title {
                    text-transform: uppercase;
                    color: color(dusk);
                    line-height: 1.2;

                    .greeting {
                        font-size: 20px;
                        color: color(darkgray);
                    }

                    .name {
                        font-size: 60px;
                        font-weight: 500;
                    }

                    .title {
                        font-size: 30px;
                        font-weight: 300;
                    }
                }

                .social-links {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin-top: 0.5em;

                    .icon {
                        margin-right: 1em;

                        span {
                            font-size: 35px;

                            &.fa-linkedin {
                                color: color(linkedin);
                            }
                            &.fa-github {
                                color: color(dark);
                            }
                            &.fa-facebook {
                                color: color(facebook);
                            }
                        }
                    }
                }

                .header-buttons {
                    display: flex;
                    margin-top: 2em;

                    @include respond-to(tablet) {
                        justify-content: center;
                    }
                }
            }
        }

        nav {
            position: fixed;
            width: 100%;
            overflow: hidden;
            z-index: 100;
            padding: 2em 0;

            background: transparent;
            box-shadow: none;
            transition: background $transitionDelay, padding $transitionDelay,
                box-shadow $transitionDelay ease-in;

            @include respond-to(tablet) {
                @include mobile-navbar;
            }

            .navbar {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                @include respond-to(tablet) {
                    flex-direction: column;
                }

                .links {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    list-style: none;

                    @include respond-to(tablet) {
                        flex-direction: column;
                        width: 100%;
                        display: none;

                        li {
                            width: 100%;
                            margin: 0;
                            padding: 0;

                            a {
                                padding: 1em 0.5em;
                                display: block;
                                width: 100%;
                                text-align: justify;
                            }
                        }
                    }

                    li {
                        margin: 0 1em;

                        a {
                            text-transform: uppercase;
                            text-decoration: none;
                            color: color(dusk);
                            font-weight: normal;
                            letter-spacing: 2px;
                            font-size: 90%;
                        }
                    }
                }

                .menu-button {
                    cursor: pointer;
                    display: none;
                    transition: opacity $transitionDelay;
                    color: color(dusk);
                    font-size: $iconSize;

                    @include respond-to(tablet) {
                        display: flex;
                        width: fit-content;
                        align-self: flex-end;
                    }
                }
            }

            &.scroll {
                @include mobile-navbar;
            }
        }
    }

    #about {
        .col {
            width: 50%;
            @include respond-to(tablet) {
                width: 100%;
            }
        }

        .about-image {
            img {
                @include size(100%, auto);
            }
        }
        .about-content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            padding: 2em;

            @include respond-to(phone) {
                padding: 2em 0em;
            }

            @include respond-to(desktop) {
                padding: 5em;
            }

            .title-wrapper {
                margin-bottom: 10px;
            }

            .summary {
                font-weight: 300;
                font-size: 25px;
                color: color(darkgray);
                line-height: 1.7;

                @include respond-to(tablet) {
                    text-align: center;
                }
            }

            .button-primary {
                margin-top: 2em;
                @include respond-to(tablet) {
                    align-self: center;
                }
            }
        }
    }

    #service {
        background: linear-gradient(to right, color(secondary), color(primary));
        border-top-left-radius: $strong-border-radius;
        transform: skewY(-$skewDeg);

        &::before {
            content: '';
            width: $angleSize;
            height: $angleSize;
            background: color(primary);
            position: absolute;
            top: -$angleSize + 1;
            right: 0;
            z-index: -2;
        }

        &::after {
            content: '';
            width: $angleSize * 2;
            height: $angleSize * 2;
            background: color(white);
            position: absolute;
            right: 0;
            top: -$angleSize * 2;
            border-radius: 50%;
            z-index: -1;
        }

        .container {
            transform: skewY($skewDeg);

            .content {
                @include respond-to(big-tablet) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .card {
                    margin: 2em;
                    padding: 1em;
                    align-items: center;
                    @include size(33%, auto);

                    @include respond-to(big-tablet) {
                        @include size(60%, auto);
                    }
                    @include respond-to(small-tablet) {
                        @include size(100%, auto);
                    }

                    img {
                        @include size(100%, 150px);

                        @include respond-to(small-tablet) {
                            @include size(100%, 150px);
                        }
                    }

                    p {
                        text-align: center;
                        color: color(white);
                        font-weight: 300;
                        margin-top: 2em;
                    }
                }
            }
        }
    }

    #skills {
        h3 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 150%;
            text-align: center;
            margin-bottom: 2em;
        }

        .top-skills {
            .progress-100 {
                @include draw-progress(100, color(primary));
            }
            .progress-90 {
                @include draw-progress(90, color(primary));
            }
            .progress-75 {
                @include draw-progress(75, color(primary));
            }
            .progress-85 {
                @include draw-progress(85, color(primary));
            }
            .progress-80 {
                @include draw-progress(80, color(primary));
            }
            .progress-60 {
                @include draw-progress(60, color(primary));
            }

            .label {
                color: color(dark);
                text-transform: capitalize;
                font-weight: bold;
                font-size: $pieFontSize / 2;
                display: block;
                text-align: center;
            }
        }

        .other-skills {
            margin-top: 5em;

            .content {
                width: 100%;
                justify-content: space-around;
                .skills-container {
                    min-width: $progress-bar-min-width;
                    max-width: $progress-bar-max-width;
                    flex-grow: 1;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 1em;

                    @include respond-to(phone) {
                        min-width: 100%;
                    }

                    .item {
                        margin: 0.7em 0;
                        width: 100%;
                        @include respond-to(phone) {
                            flex-wrap: wrap;
                        }
                    }

                    .label {
                        font-weight: normal;
                        text-transform: capitalize;
                        color: color(dark);
                        margin-right: 0.5em;
                        min-width: 100px;
                        text-align: left;
                        overflow: hidden;

                        @include respond-to(phone) {
                            margin-right: 0;
                            margin-bottom: 0.5em;
                        }
                    }

                    .progress-bar {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        @include respond-to(phone) {
                            height: 20px;
                        }
                    }
                }
            }

            .progress-100 {
                width: 100%;
            }
            .progress-80 {
                width: 80%;
            }
            .progress-90 {
                width: 90%;
            }
            .progress-70 {
                width: 70%;
            }
            .progress-60 {
                width: 60%;
            }
            .progress-50 {
                width: 50%;
            }
            .progress-40 {
                width: 40%;
            }
            .progress-30 {
                width: 30%;
            }
            .progress-20 {
                width: 20%;
            }
        }
    }

    #projects {
        position: relative;
        margin-top: -2%;
        background: color(white);

        .title-wrapper {
            align-items: flex-end;
        }

        a {
            margin: 2em 1em;
            @include respond-to(small-tablet) {
                @include size(100%, auto);
            }

            .project {
                @include size($project-size, $project-size);
                border: 1px solid color(gray);
                border-radius: $softBorderRadius;
                overflow: hidden;
                position: relative;
                transform: scale(1);
                box-shadow: none;
                transition: transition(transform), transition(box-shadow);
                @include respond-to(tablet) {
                    @include size($project-size - 100, $project-size - 100);
                }
                @include respond-to(small-tablet) {
                    @include size(100%, auto);
                }

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0px 10px 10px 1px color(gray);

                    .overlay {
                        display: flex !important;
                        height: 100%;
                        visibility: visible;

                        p {
                            opacity: 1;
                        }
                    }
                }

                .overlay {
                    display: flex !important;
                    visibility: hidden;
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    background: rgbaColor(primary, 0.5);
                    height: 0%;
                    @include transition(height);

                    p {
                        font-size: 120%;
                        color: color(white);
                        text-align: center;
                        padding: 1em;
                        opacity: 0;
                        @include transition(opacity);

                        @include respond-to(small-tablet) {
                            font-size: 200%;
                        }
                    }
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    #contact {
        .contact-form {
            width: 50%;

            @include respond-to(tablet) {
                width: 100%;
                order: 1;
                margin-top: 2em;
            }

            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 500px;

                .send {
                    margin-top: 2em;
                }

                .error {
                    &::placeholder {
                        color: color(danger);
                    }
                }

                .send.success {
                    background: color(success);
                    text-transform: none;
                }
                .send.error {
                    background: color(secondary);
                    text-transform: none;
                }
                .send.warning {
                    background: color(warning);
                    text-transform: none;
                }
            }
        }

        .mail-image {
            width: 50%;
            order: 0;

            img {
                @include size(400px, 400px);
                margin: auto;
            }
        }
    }
}
