@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700&display=swap");
.i {
  border: 1px solid cyan !important;
}

.i-2 {
  border: 1px solid #000000 !important;
}

.i-3 {
  border: 1px solid #B42B42 !important;
}

.b {
  background: #c7147c !important;
}

.b-2 {
  background: #2867B2 !important;
}

.b-3 {
  background: #C8C8C8 !important;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0 24px;
  overflow: hidden;
}

section {
  padding: 5em 0 !important;
}

.text-light {
  font-weight: 100 !important;
}

.text-bold {
  font-weight: 500 !important;
}

.text-up {
  text-transform: uppercase !important;
}

.text-cap {
  text-transform: capitalize !important;
}

h1 {
  font-size: 200%;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 3em;
}

h1::before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  background: #B42B42;
  margin: auto;
  border-radius: 40px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btn-border {
  background: transparent !important;
  border: 1px solid !important;
}

.pie-wrapper {
  height: 8em;
  width: 8em;
  margin: 15px;
  position: relative;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 8em, 8em, 4em);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.8em solid #19B2F6;
  border-radius: 50%;
  clip: rect(0, 4em, 8em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .pie-label {
  background: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  text-align: center;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-wrapper .pie-label .value {
  font-size: 2em;
  font-weight: 300;
  color: #333;
  text-align: center;
}

.pie-wrapper .pie-label .smaller {
  color: #333;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper .shadow {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0.8em solid #C8C8C8;
  border-radius: 50%;
}

.progress-bar {
  background: #C8C8C8;
  border-radius: 40px;
  position: relative;
}

.progress-bar .value {
  position: absolute;
  right: 5px;
  font-weight: 300;
  color: #333;
}

.progress {
  border-radius: 40px;
  width: 85%;
  background: #19B2F6;
  height: 100%;
  position: absolute;
}

.round {
  border-radius: 40px;
}

.f-row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.f-col {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.space-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.f-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.f-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.center {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html, * {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-rendering: optimizeLegibility !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  margin: 0px;
  padding: 0px;
}

body header {
  height: 100vh;
}

body header .bg-blue {
  background: #19B2F6;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100vh;
}

body header .bg-blue .bg-dark {
  width: 100%;
  height: 100vh;
  background: #333;
  -webkit-clip-path: polygon(0 0, 60% 0, 50% 100%, 0% 100%);
          clip-path: polygon(0 0, 60% 0, 50% 100%, 0% 100%);
}

body header .navbar {
  width: 100%;
  position: relative;
  top: 0;
  overflow: auto;
}

body header .navbar nav {
  float: right;
  margin-top: 2em;
}

body header .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

body header .navbar nav ul li {
  padding: 10px;
  margin: 0 15px;
}

body header .navbar nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

body header .navbar nav ul li a:hover {
  opacity: 0.5;
}

body header .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .content .dev-info .overview {
  font-size: 400%;
  color: #ffffff;
  font-weight: 100;
}

body header .content .dev-info .overview .name {
  font-size: 100%;
  font-weight: 300;
}

body header .content .dev-info .btn {
  min-height: 65px;
  min-width: 220px;
  margin: 1em 0em;
  margin-right: 1em;
  background: #B42B42;
  -webkit-transition: border-radius 0.5s;
  transition: border-radius 0.5s;
  color: #ffffff;
}

body header .content .dev-info .btn:hover span {
  opacity: 1;
}

body header .content .dev-info .btn:hover p {
  margin-right: 10px;
}

body header .content .dev-info .btn:hover {
  border-radius: 10px;
}

body header .content .dev-info .btn span {
  opacity: 0;
  display: inline-block;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

body header .content .dev-info .btn p {
  font-size: 120% !important;
  font-weight: 300;
  display: inline-block;
  margin-right: -20px;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
}

body header .content .dev-info .btn-border {
  border-color: #B42B42;
  color: #B42B42;
}

body header .socials {
  position: absolute;
  right: 2em;
  top: 50%;
  z-index: 20;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body header .socials ul {
  list-style-type: none;
}

body header .socials ul li {
  margin: 1em 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

body header .socials ul li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body header .socials ul li a .github {
  color: #ffffff;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

body header .socials ul li a .github:hover {
  color: #333;
}

body header .socials ul li a .linkedin {
  color: #ffffff;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

body header .socials ul li a .linkedin:hover {
  color: #2867B2;
}

body header .socials ul li a .stack-overflow {
  color: #ffffff;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

body header .socials ul li a .stack-overflow:hover {
  color: #f48024;
}

body header .socials ul li a i {
  font-size: 200%;
}

body #summary {
  padding-bottom: 0 !important;
}

body #summary .summary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2em;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 2px 1px #C8C8C8;
          box-shadow: 0px 0px 2px 1px #C8C8C8;
  overflow: visible;
  margin: 1em auto;
}

@media only screen and (max-width: 1156px) {
  body #summary .summary {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1em;
  }
}

body #summary .summary .avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 20px 5px #E9E8E8;
          box-shadow: 0px 0px 20px 5px #E9E8E8;
}

body #summary .summary p {
  font-weight: 300;
  font-style: italic;
  color: #707070;
  font-size: 90%;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-left: 3em;
  display: inline-block;
  max-width: 1024px;
  text-align: justify;
}

@media only screen and (max-width: 1156px) {
  body #summary .summary p {
    margin-left: 0;
    margin-top: 3em;
    text-align: center;
  }
}

@media only screen and (max-width: 450px) {
  body #summary .summary p {
    font-size: 80%;
  }
}

body #skills h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 150%;
  text-align: center;
  margin-bottom: 2em;
}

body #skills .top-skills .progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-90 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}

body #skills .top-skills .progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .progress-70 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-70 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-70 .pie .left-side {
  -webkit-transform: rotate(252deg);
          transform: rotate(252deg);
}

body #skills .top-skills .progress-70 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .progress-85 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-85 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-85 .pie .left-side {
  -webkit-transform: rotate(306deg);
          transform: rotate(306deg);
}

body #skills .top-skills .progress-85 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .progress-65 .pie {
  clip: rect(auto, auto, auto, auto);
}

body #skills .top-skills .progress-65 .pie .half-circle {
  border-color: #19B2F6;
}

body #skills .top-skills .progress-65 .pie .left-side {
  -webkit-transform: rotate(234deg);
          transform: rotate(234deg);
}

body #skills .top-skills .progress-65 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body #skills .top-skills .label {
  color: #333;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1em;
  display: block;
  text-align: center;
}

body #skills .other-skills {
  margin-top: 5em;
}

body #skills .other-skills .content {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body #skills .other-skills .content .skills-container {
  min-width: 400px;
  max-width: 700px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  body #skills .other-skills .content .skills-container {
    min-width: 100%;
  }
}

body #skills .other-skills .content .skills-container .item {
  margin: .7em 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  body #skills .other-skills .content .skills-container .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body #skills .other-skills .content .skills-container .label {
  font-weight: normal;
  text-transform: capitalize;
  color: #333;
  margin-right: .5em;
  min-width: 100px;
  text-align: left;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  body #skills .other-skills .content .skills-container .label {
    margin-right: 0;
    margin-bottom: .5em;
  }
}

body #skills .other-skills .content .skills-container .progress-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  body #skills .other-skills .content .skills-container .progress-bar {
    height: 20px;
  }
}

body #skills .other-skills .progress-80 {
  width: 80%;
}

body #skills .other-skills .progress-90 {
  width: 90%;
}

body #skills .other-skills .progress-70 {
  width: 70%;
}

body #skills .other-skills .progress-60 {
  width: 60%;
}

body #skills .other-skills .progress-50 {
  width: 50%;
}

body #skills .other-skills .progress-40 {
  width: 40%;
}

body #skills .other-skills .progress-30 {
  width: 30%;
}

body #overview {
  background: #19B2F6;
  border-top-left-radius: 40px;
  padding: 0 !important;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

body #overview::before {
  content: '';
  width: 60px;
  height: 60px;
  background: #19B2F6;
  position: absolute;
  top: -59px;
  right: 0;
  z-index: -2;
}

body #overview::after {
  content: '';
  width: 120px;
  height: 120px;
  background: #ffffff;
  position: absolute;
  right: 0;
  top: -120px;
  border-radius: 50%;
  z-index: -1;
}

body #overview .container {
  padding: 5em 0;
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

@media only screen and (max-width: 847px) {
  body #overview .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

body #overview .content .card {
  margin: 2em;
  padding: 1em;
}

body #overview .content .card img {
  height: 100px;
  width: auto;
}

body #overview .content .card p {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin-top: 2em;
}
/*# sourceMappingURL=main.css.map */