@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700&display=swap");
.i {
  border: 1px solid cyan !important;
}

.i-2 {
  border: 1px solid #000 !important;
}

.i-3 {
  border: 1px solid #8c1ccc !important;
}

.b {
  background: #c7147c !important;
}

.b-2 {
  background: #2867b2 !important;
}

.b-3 {
  background: #d2d2d2 !important;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  overflow: hidden;
}

section,
footer {
  padding: 5em 0 !important;
}

.text-light {
  font-weight: 100 !important;
}

.text-bold {
  font-weight: 500 !important;
}

.text-up {
  text-transform: uppercase !important;
}

.text-cap {
  text-transform: capitalize !important;
}

.title-wrapper {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title-wrapper h1 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #05364d;
}

@media only screen and (min-width: 1350px) {
  .title-wrapper h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .title-wrapper h1 {
    font-size: 10vw;
  }
}

.title-wrapper h2 {
  font-size: 70px;
  font-weight: 500;
  margin-left: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #d2d2d2;
}

@media only screen and (min-width: 1350px) {
  .title-wrapper h2 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 500px) {
  .title-wrapper h2 {
    font-size: 14vw;
  }
}

.btn {
  padding: 10px 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btn-border {
  background: transparent !important;
  border: 1px solid !important;
}

.button-primary {
  border: none;
  border-radius: 2px;
  padding: 0 30px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 0 0 4px #9a9a9a;
          box-shadow: 0 0 4px #9a9a9a;
  outline: none;
  line-height: 50px;
  overflow: visible;
  background: #0083c3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}

.button-primary:hover, .button-primary:focus {
  background: #0072aa;
}

.button-primary:not(:disabled) {
  cursor: pointer;
}

.c-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.c-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}

.c-ripple.is-active .c-ripple__circle {
  -webkit-animation: a-ripple 0.4s ease-in;
          animation: a-ripple 0.4s ease-in;
}

/**
   * Animation: Ripple
   * --------------------------------------------------
   */
@-webkit-keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

.group {
  position: relative;
}

.group .form-input {
  background: none;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333;
  margin: 1em 0;
}

.group .form-input:focus {
  outline: none;
}

.group .form-input:focus ~ .form-input-label {
  top: 7px;
  font-size: 12px;
  color: #9a9a9a;
}

.group .form-input-label {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 30px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.group .form-input-label.shrink {
  top: 7px;
  font-size: 12px;
  color: #9a9a9a;
}

.pie-wrapper {
  height: 8em;
  width: 8em;
  margin: 15px;
  position: relative;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 8em, 8em, 4em);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.8em solid #0083c3;
  border-radius: 50%;
  clip: rect(0, 4em, 8em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .pie-label {
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  text-align: center;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-wrapper .pie-label .value {
  font-size: 2em;
  font-weight: 300;
  color: #333;
  text-align: center;
}

.pie-wrapper .pie-label .smaller {
  color: #333;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper .shadow {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0.8em solid #d2d2d2;
  border-radius: 50%;
}

.progress-bar {
  background: #d2d2d2;
  border-radius: 40px;
  position: relative;
}

.progress-bar .value {
  position: absolute;
  right: 5px;
  font-weight: 300;
  color: #333;
}

.progress {
  border-radius: 40px;
  width: 85%;
  background: #0083c3;
  height: 100%;
  position: absolute;
}

.round {
  border-radius: 40px;
}

.f-row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.f-col {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.f-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.center {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

html,
* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  text-rendering: optimizeLegibility !important;
}

body header {
  height: 100vh;
  position: relative;
  background: url("../assets/bg.png") no-repeat right;
  background-size: contain;
}

@media only screen and (max-width: 1000px) {
  body header {
    background: #fff;
    height: auto;
  }
}

body header .content-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  body header .content-wrapper {
    margin-top: 5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body header .content-wrapper .header-content .header-title {
  text-transform: uppercase;
  color: #05364d;
  line-height: 1.2;
}

body header .content-wrapper .header-content .header-title .greeting {
  font-size: 20px;
  color: #9a9a9a;
}

body header .content-wrapper .header-content .header-title .name {
  font-size: 60px;
  font-weight: 500;
}

body header .content-wrapper .header-content .header-title .title {
  font-size: 30px;
  font-weight: 300;
}

body header .content-wrapper .header-content .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5em;
}

body header .content-wrapper .header-content .social-links .icon {
  margin-right: 1em;
}

body header .content-wrapper .header-content .social-links .icon span {
  font-size: 35px;
}

body header .content-wrapper .header-content .social-links .icon span.fa-linkedin {
  color: #2867b2;
}

body header .content-wrapper .header-content .social-links .icon span.fa-github {
  color: #333;
}

body header .content-wrapper .header-content .social-links .icon span.fa-facebook {
  color: #4267b2;
}

body header .content-wrapper .header-content .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

@media only screen and (max-width: 1000px) {
  body header .content-wrapper .header-content .header-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body header .content-wrapper .scroll-indicator {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 50px;
  width: 20px;
  border: 2px solid #0083c3;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
  overflow: hidden;
  -webkit-animation: jump-box 1s infinite alternate;
          animation: jump-box 1s infinite alternate;
}

body header .content-wrapper .scroll-indicator:hover {
  border-color: #0083c3;
}

@-webkit-keyframes jump-box {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes jump-box {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

body header .content-wrapper .scroll-indicator .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #0083c3;
  opacity: 1;
  -webkit-animation: jump-circle 1s infinite alternate;
          animation: jump-circle 1s infinite alternate;
}

@-webkit-keyframes jump-circle {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes jump-circle {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

body header nav {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 100;
  padding: 2em 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background 0.5s, padding 0.5s, -webkit-box-shadow 0.5s ease-in;
  transition: background 0.5s, padding 0.5s, -webkit-box-shadow 0.5s ease-in;
  transition: background 0.5s, padding 0.5s, box-shadow 0.5s ease-in;
  transition: background 0.5s, padding 0.5s, box-shadow 0.5s ease-in, -webkit-box-shadow 0.5s ease-in;
}

@media only screen and (max-width: 1000px) {
  body header nav {
    background: #fff;
    padding: 0.8em 0;
    -webkit-box-shadow: 0px 5px 5px -5px #9a9a9a;
            box-shadow: 0px 5px 5px -5px #9a9a9a;
  }
}

body header nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1000px) {
  body header nav .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body header nav .navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media only screen and (max-width: 1000px) {
  body header nav .navbar .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    display: none;
  }
  body header nav .navbar .links li {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  body header nav .navbar .links li a {
    padding: 1em 0.5em;
    display: block;
    width: 100%;
    text-align: justify;
  }
}

body header nav .navbar .links li {
  margin: 0 1em;
}

body header nav .navbar .links li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #05364d;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 90%;
  -webkit-transition: color 0.2;
  transition: color 0.2;
}

body header nav .navbar .links li a:hover {
  color: #333;
}

body header nav .navbar .menu-button {
  cursor: pointer;
  display: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: #05364d;
  font-size: 150%;
  -webkit-transition: color 0.2;
  transition: color 0.2;
}

body header nav .navbar .menu-button:hover {
  color: #333;
}

@media only screen and (max-width: 1000px) {
  body header nav .navbar .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

body header nav.scroll {
  background: #fff;
  padding: 0.8em 0;
  -webkit-box-shadow: 0px 5px 5px -5px #9a9a9a;
          box-shadow: 0px 5px 5px -5px #9a9a9a;
}

body #about .col {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  body #about .col {
    width: 100%;
  }
}

body #about .about-image img {
  height: auto;
  width: 100%;
}

body #about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2em;
}

@media only screen and (max-width: 500px) {
  body #about .about-content {
    padding: 2em 0em;
  }
}

@media only screen and (min-width: 1350px) {
  body #about .about-content {
    padding: 5em;
  }
}

body #about .about-content .title-wrapper {
  margin-bottom: 10px;
}

body #about .about-content .summary {
  font-weight: 300;
  font-size: 25px;
  color: #9a9a9a;
  line-height: 1.7;
}

@media only screen and (max-width: 1000px) {
  body #about .about-content .summary {
    text-align: center;
  }
}

body #about .about-content .button-primary {
  margin-top: 2em;
}

@media only screen and (max-width: 1000px) {
  body #about .about-content .button-primary {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

body #service {
  background: -webkit-gradient(linear, left top, right top, from(#8c1ccc), to(#0083c3));
  background: linear-gradient(to right, #8c1ccc, #0083c3);
  border-top-left-radius: 40px;
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

body #service::before {
  content: '';
  width: 60px;
  height: 60px;
  background: #0083c3;
  position: absolute;
  top: -59px;
  right: 0;
  z-index: -2;
}

body #service::after {
  content: '';
  width: 120px;
  height: 120px;
  background: #fff;
  position: absolute;
  right: 0;
  top: -120px;
  border-radius: 50%;
  z-index: -1;
}

body #service .container {
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

@media only screen and (max-width: 1146px) {
  body #service .container .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body #service .container .content .card {
  margin: 2em;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: 33%;
}

@media only screen and (max-width: 1146px) {
  body #service .container .content .card {
    height: auto;
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  body #service .container .content .card {
    height: auto;
    width: 100%;
  }
}

body #service .container .content .card img {
  height: 150px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  body #service .container .content .card img {
    height: 150px;
    width: 100%;
  }
}

body #service .container .content .card p {
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin-top: 2em;
}

body #skills {
  position: relative;
  margin-top: -2%;
  background: #fff;
}

body #skills #skills-wrapper .skill-card {
  margin: 1em;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  text-align: center;
}

body #skills #skills-wrapper .skill-card:hover {
  z-index: 999;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body #skills #skills-wrapper .skill-card img {
  height: 150px;
  width: 150px;
}

body #skills .container {
  overflow: visible;
}

body #projects .title-wrapper {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body #projects .title-wrapper h2 {
  margin-left: 0;
  margin-right: 1em;
}

body #projects a {
  margin: 2em 1em;
}

@media only screen and (max-width: 600px) {
  body #projects a {
    height: auto;
    width: 100%;
  }
}

body #projects a .project {
  height: 250px;
  width: 250px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

@media only screen and (max-width: 1000px) {
  body #projects a .project {
    height: 150px;
    width: 150px;
  }
}

@media only screen and (max-width: 600px) {
  body #projects a .project {
    height: auto;
    width: 100%;
  }
}

body #projects a .project:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 10px 10px 1px #d2d2d2;
          box-shadow: 0px 10px 10px 1px #d2d2d2;
}

body #projects a .project:hover .overlay {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100%;
  visibility: visible;
}

body #projects a .project:hover .overlay p {
  opacity: 1;
}

body #projects a .project .overlay {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  visibility: hidden;
  position: absolute;
  z-index: 10;
  width: 100%;
  background: rgba(25, 178, 246, 0.5);
  height: 0%;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

body #projects a .project .overlay p {
  font-size: 120%;
  color: #fff;
  text-align: center;
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  body #projects a .project .overlay p {
    font-size: 200%;
  }
}

body #projects a .project img {
  width: 100%;
}

body #contact {
  padding-top: 0 !important;
}

body #contact .contact-form {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  body #contact .contact-form {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 2em;
  }
}

body #contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 500px;
}

body #contact .contact-form form .group textarea {
  resize: none;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body #contact .contact-form form .group textarea::-webkit-scrollbar {
  width: 5px;
}

body #contact .contact-form form .group textarea::-webkit-scrollbar-track {
  background: #fff;
}

body #contact .contact-form form .group textarea::-webkit-scrollbar-thumb {
  background: #888;
}

body #contact .contact-form form .group textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body #contact .contact-form form .group label.error {
  color: #bb2124;
}

body #contact .contact-form form .send {
  margin-top: 1em;
  -webkit-transition: background 1s;
  transition: background 1s;
}

body #contact .contact-form form .send.success {
  background: #22bb33;
  text-transform: capitalize;
}

body #contact .contact-form form .send.error {
  background: #bb2124;
  text-transform: capitalize;
}

body #contact .contact-form form .send.warning {
  background: #ff9800;
  text-transform: capitalize;
}

body #contact .mail-image {
  width: 50%;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin: auto;
}

body #contact .mail-image img {
  height: auto;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */