@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,700&display=swap");
.i {
  border: 1px solid cyan !important;
}

.i-2 {
  border: 1px solid #000000 !important;
}

.i-3 {
  border: 1px solid #8c1ccc !important;
}

.b {
  background: #c7147c !important;
}

.b-2 {
  background: #2867b2 !important;
}

.b-3 {
  background: #d2d2d2 !important;
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  overflow: hidden;
}

section,
footer {
  padding: 5em 0 !important;
}

.text-light {
  font-weight: 100 !important;
}

.text-bold {
  font-weight: 500 !important;
}

.text-up {
  text-transform: uppercase !important;
}

.text-cap {
  text-transform: capitalize !important;
}

.title-wrapper {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title-wrapper h1 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #05364d;
}

@media only screen and (min-width: 1350px) {
  .title-wrapper h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .title-wrapper h1 {
    font-size: 10vw;
  }
}

.title-wrapper h2 {
  font-size: 70px;
  font-weight: 500;
  margin-left: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #d2d2d2;
}

@media only screen and (min-width: 1350px) {
  .title-wrapper h2 {
    font-size: 80px;
  }
}

@media only screen and (max-width: 500px) {
  .title-wrapper h2 {
    font-size: 14vw;
  }
}

.btn {
  padding: 10px 20px;
  border: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.btn-border {
  background: transparent !important;
  border: 1px solid !important;
}

/* Ripple effect */
.ripple {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  background: #0083c3 radial-gradient(circle, transparent 1%, #0083c3 1%) center/15000%;
}

.ripple:active {
  background-color: #19b2f6;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.ripple:hover {
  background-color: #19b2f6;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

/* Button style */
.button-ripple {
  border: none;
  border-radius: 2px;
  padding: 1.2em 3em;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 0 0 4px #9a9a9a;
          box-shadow: 0 0 4px #9a9a9a;
  outline: none;
}

.button-primary {
  border: none;
  border-radius: 2px;
  padding: 0 30px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  -webkit-box-shadow: 0 0 4px #9a9a9a;
          box-shadow: 0 0 4px #9a9a9a;
  outline: none;
  background: #0083c3;
  line-height: 50px;
}

.group {
  position: relative;
}

.group .form-input {
  background: none;
  background-color: #fff;
  color: #333;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #333;
  margin: 1em 0;
}

.group .form-input:focus {
  outline: none;
}

.group .form-input:focus ~ .form-input-label {
  top: 10px;
  font-size: 12px;
  color: #9a9a9a;
}

.group .form-input-label {
  color: #333;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 30px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
}

.group .form-input-label.shrink {
  top: 10px;
  font-size: 12px;
  color: #9a9a9a;
}

.pie-wrapper {
  height: 8em;
  width: 8em;
  margin: 15px;
  position: relative;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 8em, 8em, 4em);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.8em solid #0083c3;
  border-radius: 50%;
  clip: rect(0, 4em, 8em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.pie-wrapper .pie-label {
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  text-align: center;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-wrapper .pie-label .value {
  font-size: 2em;
  font-weight: 300;
  color: #333;
  text-align: center;
}

.pie-wrapper .pie-label .smaller {
  color: #333;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper .shadow {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0.8em solid #d2d2d2;
  border-radius: 50%;
}

.progress-bar {
  background: #d2d2d2;
  border-radius: 40px;
  position: relative;
}

.progress-bar .value {
  position: absolute;
  right: 5px;
  font-weight: 300;
  color: #333;
}

.progress {
  border-radius: 40px;
  width: 85%;
  background: #0083c3;
  height: 100%;
  position: absolute;
}

.round {
  border-radius: 40px;
}

.f-row {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.f-col {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.f-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.center {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}

.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
/*# sourceMappingURL=style.css.map */